body {
	padding-top: 0px;
	margin-top: 0px;
	border-top: 0px;
	text-align: center;
	height: 100%;
	width: 100%;
}
#banner {
}
#content {
	padding-bottom: 20px;
	padding-top: 20px;
	height: 500px;
}
#option {
	float: left;
	margin-left: 80px;
	width: 300px;
}
#memory {
	float: left;
	margin-left: 80px;
	width: 300px;
	height: 100%;
}
#memory.fieldset {
	height: 100%;
}
canvas {
	background: LightBlue;
}
canvas#mTable {
	width: 100%;
	height: 100%;
}
table#mChart{
	width: 100%;
}
#footer {
	clear: both;
	height: 100%;
	width: 100%;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: lightgrey;
}
